.ishkerak-container {
  background-color: #000;
  color: white;
  height: 100vh;
  padding: 20px;
  box-sizing: border-box;
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.top-section {
  display: flex;
  align-items: center;
  gap: 15px;
}

.avatar {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
  border: 2px solid #555;
}

.user-info {
  margin-left: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 15px;
}

.user-name {
  font-size: 30px;
  font-weight: bold;
}

.balance-wrapper {
  margin-top: 55px;
  align-self: flex-start;
}

.balance-btn {
  background-color: #2c293a;
  color: white;
  border: none;
  padding: 6px 12px;
  margin-top: 15px;
  border-radius: 6px;
  cursor: pointer;
}

.center-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.status-btn {
  border: none;
  padding: 14px 28px;
  font-size: 18px;
  font-weight: bold;
  border-radius: 30px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.status-btn.online {
  background-color: #ffcc00;
}

.status-btn.band {
  background-color: gray;
  color: white;
  font-weight: bold;
  cursor: pointer
}

.timer {
  font-size: 24px;
  font-weight: bold;
  color: #ffcc00;
}

.logout-btn {
  width: 100%;
  padding: 12px;
  font-size: 16px;
  border: none;
  border-radius: 8px;
  background-color: red;
  color: white;
  font-weight: bold;
  cursor: pointer;
}

.status-btn.expired {
  background-color: #ff4444; /* qizil */
  color: white;
  cursor: pointer;
  pointer-events: auto; /* ❗️Bosilishini ta'minlaydi */
  font-weight: bold;
  border: none;
  padding: 14px 28px;
  font-size: 18px;
  border-radius: 30px;
  transition: all 0.3s ease;
}