/* Umumiy container */
.register-container {
  max-width: 400px;
  margin: 20px auto;
  padding: 20px;
  background-color: #1a1a1a;
  border-radius: 12px;
  color: #fff;
  font-family: sans-serif;
}

/* Sarlavha */
.register-container h2 {
  text-align: center;
  margin-bottom: 20px;
  color: #ffcc00;
}

/* Inputlar */
input[type="text"],
input[type="number"],
select {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: none;
  border-radius: 6px;
  font-size: 16px;
}

/* Kasblar blokining labeli */
.checkbox-label {
  display: flex;
  align-items: center;
  gap: 10px;
  background-color: #1a1a1a;
  padding: 4px 8px;
  border-radius: 4px;
}

.checkbox-group {
  margin-bottom: 20;
}

.checkbox-container {
  display: flex;
  flex-wrap: wrap;
  gap: 15px
}

/* Checkbox'ni biroz kattalashtirish */
.checkbox-label input[type="checkbox"] {
  transform: scale(1.2);
}

/* Barchasini belgilash tugmasi */
.select-all-btn {
  margin: 10px 0;
  padding: 8px 12px;
  background-color: #ffcc00;
  color: #000;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-weight: bold;
  width: 100%;
}

/* Ro‘yxatdan o‘tish tugmasi */
.register-btn {
  width: 100%;
  padding: 12px;
  margin-top: 20px;
  background-color: #ffcc00;
  color: black;
  font-size: 16px;
  font-weight: bold;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

/* Telefon raqam qatoridagi inputlar */
.phone-input-group {
  display: flex;
  gap: 5px;
  margin-top: 10px;
}

.phone-input-group input {
  flex: 1;
}

.phone-prefix {
  background-color: #333; /* fon qora */
  color: white;           /* matn oq */
  border: none;
  outline: none;
  padding: 10px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}