.dot-container {
  display: inline-flex;
  align-items: center;
  gap: 6px;
}

.dot {
  width: 10px;
  height: 10px;
  border-radius: 50%;
}

.green {
  background-color: #4ade80;
}

.red {
  background-color: #f87171;
}

.blink {
  animation: blink 1.2s infinite;
}

@keyframes blink {
  0%, 100% { opacity: 1; }
  50% { opacity: 0.2; }
}

.dot-time {
  font-size: 12px;
  color: rgb(189, 189, 189);
}