/*.register-container {
  max-width: 450px;
  margin: 30px auto;
  padding: 20px;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
  font-family: 'Arial', sans-serif;
}*/
.register-container {
  max-height: 100vh; /* ekran balandligidan oshmaydi */
  overflow-y: auto !important; /* vertikal scroll qo'shiladi */
  padding-bottom: 20px; /* pastda qo'shimcha joy */
}


.register-container h2 {
  text-align: center;
  margin-bottom: 20px;
  color: #333;
}

.register-container input,
.register-container select {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border-radius: 8px;
  border: 1px solid #ccc;
  font-size: 15px;
}

.register-container button {
  width: 100%;
  padding: 10px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

.register-container button:hover {
  background-color: #45a049;
}

.checkbox-container {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
}

.checkbox-container label {
  background-color: #f2f2f2;
  padding: 6px 12px;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.checkbox-container label:hover {
  background-color: #ddd;
}

p.status-message {
  text-align: center;
  margin-top: 10px;
  font-weight: bold;
}